.box_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.clasroom_container{
    margin-bottom: 2em
}