.title-Unayoe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
}

.layout-unayoe-img{
    width: 80%;
    filter: brightness(0.3);
    border-radius: 10px;
}