/* Footer.css */
.footer-container {
  background-color: #1b1b1b;
  padding: 20px 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-link {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: white;
}

.social-icon {
  color: white;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #007bff;
}

@media (min-width: 768px) {
  .footer-section {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-links {
    flex-direction: row;
  }
}
